body {
  font-size: larger;
  background-image: url("https://cdn-media-2.freecodecamp.org/w1280/5fb5e53749c47664ed822a29.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: auto; */
  /* width: 200%; */
}

.container {
  height: 600px;
  width: 480px;
  margin: 8% 0% 0% 55%;
  background: #ffffff;
  /* opacity: 0.9; */
  box-shadow: 0px 0px 0px rgb(0 0 0 / 10%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  background-color: rgb(19, 56, 221);
  color: white;
  margin: 0px 0px 0px 0px;
  padding: 14px 158px;
  text-transform: uppercase;
  font-size: 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Noto Sans", sans-serif;
}
h1:hover {
  text-decoration: 2px underline;
}
p {
  padding-left: 20px;
}

form input[type="text"] {
  width: 90px;
}

input {
  padding-left: 20px;
}

#billamt {
  font-size: 15px;
  font-weight: 100;
  width: 56%;
  padding: 10px 0px 10px 8px;
  border: none;
  border-radius: 5px;
  border-bottom: 3px solid #39cccc;
  font-family: "Ubuntu", sans-serif;
}

#billamt:focus {
  background: #fff;
  border-radius: 5px;
  border-bottom: 3px solid #39cccc;
  outline: none;
}

#peopleamt {
  width: 60%;
  padding: 10px 0px 10px 8px;
  margin: 20px;
  color: #2980b9;
  border: none;
  border-bottom: 3px solid #39cccc;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
}

#serviceQual {
  padding: 10px 0px 10px 8px;
  margin-left: 0px;
  font-size: 15px;
  width: 65%;
  border: none;
  border-bottom: 3px solid #39cccc;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px 0px 30px 0px;
  background-color: #39cccc;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: #fff;
}

button:hover {
  background: rgb(19, 56, 221);
  border: 4px solid #39cccc;
  border-radius: 5px;
}

button:active {
  position: relative;
  top: 1px;
}
#totalTip {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

#totalbill {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

#totalTip::before {
  content: "Tip amount";
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  /* margin: 0px 0px 0px 0px; */
  border-bottom: 3px solid #39cccc;
  border-radius: 5px;
  /* padding: 0px 0px 0px 0px; */
}

#totalbill::before {
  content: "Bill amount";
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  /* margin: 0px 0px 0px 0px; */
  border-bottom: 3px solid #39cccc;
  border-radius: 5px;
  /* padding: 0px 0px 0px 0px; */
}

#totalTip div:nth-child(1) {
  width: 150px;
  font-size: 25px;
  /* border: 1px solid red;
  border-bottom: 3px solid rgb(19, 56, 221); */
  display: flex;
  justify-content: center;
}

#totalbill div:nth-child(1) {
  width: 150px;
  font-size: 25px;
  /* border: 1px solid red;
  border-bottom: 3px solid rgb(19, 56, 221); */
  display: flex;
  justify-content: center;
}

#each,#each2 {
  margin: 0px 5px;
} /*
#tipRs {
  border-bottom: 3px solid rgb(19, 56, 221);
}
#tip {
  border-bottom: 3px solid rgb(19, 56, 221);
}
#each {
  /* border-bottom: 3px solid rgb(19, 56, 221); */

/* div #totalTip::after {
  border-bottom: 3px solid #39cccc;
  border-radius: 5px;
} */
/* #tipRS { */
/* content: "Rs. 0.00 each";
  border-bottom: 3px solid rgb(19, 56, 221);
  border-bottom-left-radius: 5px; */
/* margin: 0px 0px 0px 60px; */
/* position: fixed; */
/* } */
/* #tip { */
/* border-bottom: 3px solid rgb(19, 56, 221); */
/* margin: 0px 0px 0px 35px; */
/* } */
/* #each { */
/* border-bottom: 3px solid rgb(19, 56, 221);
  border-bottom-right-radius: 5px; */
/* margin: 0px 0px 0px 25px; */
/* position: relative; */
/* } */
div#totalTip #main {
  border-bottom: 3px solid rgb(19, 56, 221);
  border-radius: 5px;
}

div#totalbill #main2 {
  border-bottom: 3px solid rgb(19, 56, 221);
  border-radius: 5px;
}
